.col-md-2dot4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 20%;
    max-width: 20%;
}

@media (max-width: 1180px) {
    h5 {
        font-size: 0.75rem;
    }

    p {
        font-size: 0.5rem;
    }
}